:root {
  --font-family-primary: 'Lato', sans-serif;
  --clr-primary: #ec5242;
  --clr-dark: #272a31;
  --crl-light: #d3d3d3;
}

/* Basic resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
}

/* Utility classes */
.container {
  width: 90%;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 1em;
  border: none;
  background-color: var(--clr-primary);
  color: var(--crl-light);
  font-size: 1.3rem;
  text-align: center;
  min-width: fit-content;
  font-weight: 700;
  font-family: var(--font-family-primary);
}

.section-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em 0;
}

.underline {
  margin-top: 1em;
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--clr-primary);
}

.margin-1 {
  margin: 1em 0;
}
.margin-2 {
  margin: 2em 0;
}

.toolbar {
  padding: 1.5em 0;
}

/* Hero section */
.hero-section-wrapper {
  /* background: url("../assets/images/showcase-img.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em 0;
}

.hero-section {
  padding: 1em 0;
}

.hero-section--headline {
  color: var(--clr-primary);
}

.hero-section--headline>span {
  display: inline-block;
  margin: 0.5em 0;
}

.hero-section--headline>h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
}

.hero-section--tagline {
  margin: 1em 0;
  color: var(--clr-dark);
  line-height: 1.3;
  font-size: 1.18rem;
  font-weight: 600;
}

.hero-section--event-details>h3:first-child {
  font-weight: 900;
  font-size: 1.3rem;
  color: var(--clr-dark);
}

.hero-section--event-details p:nth-child(2) {
  color: var(--clr-dark);
  margin-top: 0.6em;
  font-size: 1rem;
  font-weight: 500;
}

/* Programme outline section*/

.programme-outline--wrapper {
  background-color: var(--clr-dark);
  color: var(--crl-light);
  padding: 2em 0;
}

.program-outline {
  display: flex;
  flex-direction: column;
  align-items: ce;
}

.programme-outline--list-item {
  margin: 1em 0;
  padding: 0.8em;
  background-color: rgba(211, 211, 211, 0.1);
  color: var(--crl-light);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.programme-outline--list-item .title-icon-wrapper {
  margin-right: 1em;
}

.programme-outline--title {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 1.2rem;
}

.programme-outline--description {
  font-size: 1.2rem;
}

/* Speakers section */ 
.section-speakers-wrapper {
  padding: 1em 0;
}

.section-speakers--list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5em;
}

.speaker-details--speaker-name {
  font-size: 1.3rem;
  color: var(--clr-dark);
  margin: 0.5em 0;
  font-weight: 700;
  opacity: 0.9;
}

.speaker-details--speaker-org {
  color: rgba(236, 82, 66, 0.8);
  font-weight: 600;
  margin: 0.4em 0;
}

.speaker-details--profile {
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--clr-dark);
  font-weight: 500;
  opacity: 0.7;
}

.speaker-underline {
  background-color: var(--crl-light);
  margin-top: 0.5em;
  width: 25px;
}